# Vim .swp
*.swp

*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes
*.autosave

# Ignore meson build dirs
build*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
